* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body::-webkit-scrollbar {
    width: 0;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 2em;
    background-color: #1a203a;
}

.main {
    color: white;
    width: 50%;
    /* min-width: ; */
    height: 90%;
    /* min-height: ; */
}

.titles {
    max-width: 100%;

}

.title {
    padding: 2vh;
    background-color: #252b49;
    border-radius: 2em;
    box-shadow: 0 0 0 1em #232744;
    text-align: center;
}

.pink_style {
    color: #b5426d;
    font-size: 4em;
}

.white_style {
    color: #f0f8ff;
    font-size: 4em;
}

.acqua_style {
    color: #6ae8d4;
    font-size: 2.5em;
}

.activities {
    width: max-content;
    grid-template-columns: repeat(2, 1fr);
    display: grid;

}

.activities * {
    font-size: 5vw;
    color: aliceblue;
    text-decoration: none;
}